################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HW/HW1/bin
/HW/HW1/obj
/HW/.vs/HW/v15
/HW/packages
