################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HW/HW1/bin
/HW/HW1/obj
/HW/.vs/HW/v15
/HW/packages
/HW/HW2/bin
/HW/HW2/obj
/HW/HW3/bin
/HW/HW3/obj
/HW/HW5/bin/Debug
/HW/HW5/obj
